# ==========================================
# .NET / Visual Studio Source Code Control
# ==========================================
*.user
*.userosscache
*.sln.docstates
*.suo

# Папки компиляции (Самый важный пункт для MAUI)
[Db]in/
[Oo]bj/

# Скрытая папка настроек Visual Studio
.vs/

# Кэш инструментов сборки MSBuild
.msbuild/
.tools/

# ==========================================
# .NET MAUI / Xamarin Specifics
# ==========================================
# Логи сборки Android устройств и эмуляторов
*.apk
*.aab
*.dex
*.pro
*.nativecodeanalyses.xml

# Артефакты сборки Apple iOS / Mac (на будущее)
*.app
*.ipa
*.Xresources
*.mshc
 .DS_Store

# ==========================================
# Безопасность и Секреты (Google API Ключи)
# ==========================================
# Защита от случайной отправки токенов авторизации Google Photos
*.json
*.p12
*.pem
secrets.xml
appsettings.json
appsettings.Development.json

# Исключение: разрешаем Git отслеживать системный манифест Android, даже если там JSON
!AndroidManifest.xml

# ==========================================
# JetBrains Rider & VS Code (Если используются)
# ==========================================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.iml
